@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

*{
    font-family: 'Poppins';
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    justify-content: center;
    position: relative;
    padding-top: 60px;
}

.sidebutton{
    background-color: transparent;
    border: 0;
}

.img-logoside30{
    height: 30px;
    width: 30px;
}

.img-logoside{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 60px;
}

.txt-side{
    font-size: 30px;
    font-weight: 600;
    padding-top: 90px;
    position: absolute;
    left: 40px;
}

.buttonclose-side{
    position: absolute;
    right: 25px;
}

.img-menu{
    height: 25px;
    width: 30px;
}

.img-logo{
    height: 50px;
    width: 50px;
}

.menuHamb{
position: absolute;
left: 25px;
}

.logo{
    display: flex !important;
    justify-content: center;
}

.grp-usuarioside{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 140px;
    margin-top: 208px;
    gap: 20px;
    margin-left: 40px;
}

.txt-usuario{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.img-profileside{
    width: 40px;
}


.grp-notifside{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 60px;
    gap: 28px;
    margin-left: 49px;
}

.txt-notificacao{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.img-notifside{
    width: 23px;
}

.grp-ajudaside{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 343px;
    gap: 27px;
    margin-left: 48px;
}

.img-ajudaside{
    width: 25px;
}

.txt-ajuda{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

/* Texto Inicio*/

.txt-inicio{
    font-size: 32px;
    font-weight: 500;
    margin: 0;
    padding: 0 84px 0 25px;
}

.txt-iniciodiv{
    margin-top: 90px;
}

/* Card de Curso*/

.card1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.card-cursos{
    background-color: #F9F9F9;
    width: 340px;
    height: length;
    border-radius: 16px;
}

.img-curso1{
    width: 96px;
}

.img-curso1div{
    display: flex;
    margin-left: 8px;
    margin-top: 8px;
}

.imginfos{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 24px;
    font-weight: 500;
}

.nomecurso{
    margin: 0;
}
.icon-editar{
    width: 17px;

}

.card-infos1{
    position: relative;
    margin-left: 10px;
    width: 320px;
}

.txt-info{
    font-size: 20px;
    font-weight: 500;
    margin-top: 40px;
}

.txt-materia{
    font-size: 15px;
    font-weight: 500;
    margin: 30px 0 0 0;
}

.txt-materiavalue{
    font-size: 13px;
    font-weight: 300;

}
.txt-professor{
    font-size: 15px;
    font-weight: 500;
    margin: 30px 0 0 0;
}

.txt-professorvalue{
    font-size: 13px;
    font-weight: 300;

}

.txt-descricao{
    font-size: 15px;
    font-weight: 500;
    margin: 30px 0 0 0;
}

.txt-descricaovalue{
    font-size: 13px;
    font-weight: 300;
}

